<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<link rel="stylesheet" type="text/css" href="layui/css/layui.css">
<script type="text/javascript" src="layui/layui.js"></script>

<body>
<form class="layui-form" action="" id="d1">
    <div class="layui-form-item">
        <div class="layui-input-inline" style="width: 200px;">
            <input type="text"  name="title" lay-verify="title" id="name" autocomplete="off" placeholder="书名" class="layui-input">
        </div>
        <div class="layui-input-inline">
            <button  type="button" class="layui-btn layui-btn-danger" id="search"><i class="layui-icon layui-icon-search"></i></button>
        </div>
    </div>
</form>
<table id="demo" lay-filter="test"></table>
</body>
<script src="assets/jquery.min.js?v=3.3.1"></script>

<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="add">查看</button>
    </div>
</script>
<script>
    layui.use('table', function() {
        var table = layui.table;
        var $ = layui.$;
        // var ip = "http://localhost:8081/";
        var ip = "http://112.74.39.252:8081/";

        //第一个实例
        var table1 = table.render({
            elem: '#demo'
            ,height: 500
            ,url: ip + "test/book"
            ,page: true //开启分页
            ,where: {keyword: $("#name").val()}
            ,cols: [[ //表头
                {field: 'id', title: 'ID', width:80, sort: true, fixed: 'left'}
                ,{field: 'name', title: '书名', width:330}
                ,{field: 'account', title: '作者', width:100, sort: true}
                ,{field: 'info', title: '简介', width:500, sort: true}
                ,{fixed: 'right', width:150, align:'center', toolbar: '#toolbarDemo'}
            ]]
        });

        $("#search").click(function () {
            table1.reload({
                where: {keyword: $("#name").val()}
            });
        });

        //触发事件
        table.on('tool(test)', function(obj){
            sessionStorage.setItem("id",obj.data.id);
            window.location.href="B.html";
        });

    });

</script>
</html>