<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    #content a {font-size: 20px;color: rgb(111, 120, 167);}
    #myBook a {font-size: 20px;color: rgb(111, 120, 167);}
    #content {width: 45%;float: left;border-right: #eb7350 solid 1px;margin-top: 20px;}
    #myBook {width: 45%;float: left;margin-top: 20px;margin-left: 20px;}
    a:hover{text-decoration:underline;}
    #top {margin-left: 20%}
    #name {width: 400px;height: 60px;}
    #more {text-align: center;font-size: 20px;color: #01AAED}
</style>

<link rel="stylesheet" type="text/css" href="layui/css/layui.css">
<script type="text/javascript" src="layui/layui.js"></script>
<body>
    <div id="top">
        <div class="layui-input-inline">
            <input type="text" id="name" autocomplete="off" placeholder="书名" class="layui-input">
        </div>
        <div class="layui-input-inline">
            <button type="button" class="layui-btn layui-btn-danger" id="search" onclick="search()"><i class="layui-icon layui-icon-search"></i></button>
        </div>
    </div>
    <div id="content"></div>
    <div id="myBook"></div>

</body>
<script src="assets/jquery.min.js?v=3.3.1"></script>
<script src="ip.js"></script>
<script>
    var limit = 10;
    function search() {
        $.ajax({
            url: ip + "test/book",
            dataType: "json",
            data: {
                keyword: $("#name").val(),
                page: 1,
                limit: limit
            },
            type: "get",
            success: function (data) {
                var content = "<div>搜索结果</div>";
                for(var i = 0;i < data.data.length;i++) {
                    content += "<div><a href='B.html?bookId="+data.data[i].id+"'>"+data.data[i].name+"</a>"+"/"+data.data[i].account+"</div>"
                }
                content += "<hr><div onclick=\"next()\" id=\"more\">加载更多</div>";
                $("#content").html(content);
            }, error: function () {
                alert("异常");
                return false;
            }
        })
    }
    
    function bookrack() {
        var bookrack = localStorage.getItem("bookrack");
        console.log(bookrack);
        if(bookrack != null) {
            var list = JSON.parse(bookrack);
            var books = "<div>我的书架</div>";
            for(var i =0;i<list.length;i++) {
                books += "<div><a href='B.html?bookId="+list[i].id+"'>"+list[i].name+"</a>"+"/"+list[i].account+"</div>"
            }
            $("#myBook").html(books);
        }

    }

    function next() {
        limit = limit + limit;
        search();
    }
    var input = document.getElementById("name");
    input.addEventListener("keyup", function(event) {
        event.preventDefault();
        if (event.keyCode === 13) {
            search();
        }
    });

    window.onload=function() {
        search();
        bookrack();
    }

</script>
</html>