<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<link rel="stylesheet" type="text/css" href="layui/css/layui.css">
<script type="text/javascript" src="layui/layui.js"></script>
<style>
    #list {font-size: 40px;color: rgb(111, 120, 167);}
    a:hover{text-decoration:underline;}
</style>
<body>
    <div id="info">
        <div style="margin-left: 10%" class="layui-input-inline"><img src="" id="imgUrl"/></div>
        <div style="width:60%;" class="layui-input-inline">
            <div id="name" style="font-size: 20px;font-weight: bolder"></div>
            <div id="account"></div>
            <div id="bookInfo"></div>
        </div>
    </div>
    <div id="list"></div>
</body>
<script src="assets/jquery.min.js?v=3.3.1"></script>
<script src="ip.js"></script>
<script>
    function search() {
        $.ajax({
            url: ip + "test/bookList",
            dataType: "json",
            data: {
                id: GetQueryValue("bookId")
            },
            type: "get",
            success: function (data) {
                if(data.data.bookLists.length === 0) {
                    alert("首次搜索，正在查询。。请稍后刷新");
                }
                $("#imgUrl").attr("src",data.data.bookName.imgUrl);
                $("#name").text(data.data.bookName.name);
                $("#account").text("作者：" + data.data.bookName.account);
                $("#bookInfo").text("简介: "+data.data.bookName.info);

                var content = "<dl><dt>目录</dt>";
                for(var i = 0;i < data.data.bookLists.length;i++) {
                    content += "<dd><a href='C.html?bookId="+data.data.bookName.id+"&bookListId="+data.data.bookLists[i].id+"'>"
                        +data.data.bookLists[i].listName+"</a></dd>"
                }
                content += "</dl>";
                $("#list").html(content);
            }, error: function () {
                alert("异常");
                return false;
            }
        })
    }

    window.onload=function() {
        search();
    }
</script>
</html>