<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<link rel="stylesheet" type="text/css" href="layui/css/layui.css">
<script type="text/javascript" src="layui/layui.js"></script>
<style>
    #list {font-size: 40px;color: rgb(111, 120, 167);}
    a:hover{text-decoration:underline;}
</style>
<body>
    <div id="info">
        <div style="margin-left: 10%" class="layui-input-inline"><img src="" id="imgUrl"/></div>
        <div style="width:60%;" class="layui-input-inline">
            <div id="name" style="font-size: 20px;font-weight: bolder"></div>
            <div id="account" style="float: left"></div>
            <div id="bookrack" onclick="add()" style="color: #1E9FFF;float: left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;加入收藏</div>
            <div id="down" onclick="down()" style="color: #1E9FFF">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;下载书籍</div>
            <div id="bookInfo"></div>
        </div>
    </div>
    <div id="list"></div>
</body>
<script src="assets/jquery.min.js?v=3.3.1"></script>
<script src="ip.js"></script>
<script>
    function search() {
        $.ajax({
            url: ip + "test/bookList",
            dataType: "json",
            data: {
                id: GetQueryValue("bookId")
            },
            type: "get",
            success: function (data) {
                if(data.data.bookLists.length === 0) {
                    alert("首次搜索，正在查询。。请稍后刷新");
                }
                $("#imgUrl").attr("src",data.data.bookName.imgUrl);
                $("#name").text(data.data.bookName.name);
                $("#account").text("作者：" + data.data.bookName.account);
                $("#bookInfo").text("简介: "+data.data.bookName.info);

                var bookrack = localStorage.getItem("bookrack");
                if(bookrack != null) {
                    var list = JSON.parse(bookrack);
                    for(var i =0;i<list.length;i++) {
                        if(list[i].id === GetQueryValue("bookId")) {
                            $("#bookrack").html("&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;取消收藏");
                            $("#bookrack").attr("onclick","cancel()");
                        }
                    }
                }

                var content = "<dl><dt>目录</dt>";
                for(var i = 0;i < data.data.bookLists.length;i++) {
                    content += "<dd><a href='C.html?bookId="+data.data.bookName.id+"&bookListId="+data.data.bookLists[i].id+"'>"
                        +data.data.bookLists[i].listName+"</a></dd>"
                }
                content += "</dl>";
                $("#list").html(content);
            }, error: function () {
                alert("异常");
                return false;
            }
        })
    }

    function add() {
        var bookrack = localStorage.getItem("bookrack");
        var book = {id:GetQueryValue("bookId"),name: $("#name").text(),account:$("#account").text()};
        var list = JSON.parse(bookrack);
        if(bookrack != null) {
            list.push(book);
        } else{
            list = [book];
        }
        localStorage.setItem("bookrack",JSON.stringify(list));
        $("#bookrack").html("&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;取消收藏");
        $("#bookrack").removeAttr("onclick").attr("onclick","cancel()");
    }

    function down() {
        $.ajax({
            url: ip + "test/down/" + GetQueryValue("bookId"),
            dataType: "json",
            type: "get",
            success: function (data) {
                if(data.code === 500) {
                    alert(data.msg);
                } else{
                    window.location.href=data.data;
                }
            }, error: function () {
                alert("异常");
                return false;
            }
        })
    }

    function cancel() {
        var bookrack = localStorage.getItem("bookrack");
        var list = JSON.parse(bookrack);
        if(list != null) {
            for(var i = 0;i<list.length;i++) {
                if(list[i].id === GetQueryValue("bookId"));
                list.splice(i,1);
                break;
            }
        }
        $("#bookrack").html("&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;加入收藏");
        localStorage.setItem("bookrack",JSON.stringify(list));
         $("#bookrack").attr("onclick","add()");
    }

    window.onload=function() {
        search();
    }
</script>
</html>