<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    #info {font-size: 30px}
    #info p {font-size: 50px;font-weight: bolder}
    #list,#next {width:50%;color: #1E9FFF;text-align: center;font-size: 50px}
    a:hover{text-decoration:underline;}
</style>
<link rel="stylesheet" type="text/css" href="layui/css/layui.css">
<script type="text/javascript" src="layui/layui.js"></script>

<body>
    <div id="info"></div>
    <div style="text-align: center;">
        <a id="list">目录</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a id="next">下一章</a>
    </div>


</body>
<script src="assets/jquery.min.js?v=3.3.1"></script>
<script src="ip.js"></script>
<script>
    var next = "";
    window.onload=function() {
        search();
    }

    function search() {
        $.ajax({
            url: ip + "test/info",
            dataType: "json",
            data: {
                id: GetQueryValue("bookId"),
                listId: GetQueryValue("bookListId")
            },
            type: "get",
            success: function (data) {
                $("#info").append("<p>"+data.data[0].listName+"</p>"+data.data[0].listInfo);
                $("#list").attr("href","B.html?bookId="+GetQueryValue("bookId"));
                $("#next").attr("href","C.html?bookId="+GetQueryValue("bookId") + "&bookListId=" + data.data[1].id);
            }, error: function () {
               alert("error");
                return false;
            }
        })
    }

</script>
</html>